[general]
name = "minilib-monad"
version = "0.8.0"
fix_version = "1.2.0"
authors = ["pt9999"]
description = "Monads (State/Reader/Writer monad, Monad transformer etc.)"
license = "MIT"

[build]
opt_level = "basic"
files = [
    "lib/functor/pair.fix",
    "lib/monad/cont.fix",
    "lib/monad/iden.fix",
    "lib/monad/option.fix",
    "lib/monad/reader.fix",
    "lib/monad/result.fix",
    "lib/monad/state.fix",
    "lib/monad/trans.fix",
    "lib/monad/writer.fix",
    "lib/monad/yield.fix",
    "lib/trait/monoid.fix",
    "lib/trait/semigroup.fix",
]

[build.test]
opt_level = "basic"
files = [
    "tests/test.fix",
    "tests/functor/pair_test.fix",
    "tests/monad/cont_test.fix",
    "tests/monad/iden_test.fix",
    "tests/monad/option_test.fix",
    "tests/monad/reader_test.fix",
    "tests/monad/result_test.fix",
    "tests/monad/state_test.fix",
    "tests/monad/writer_test.fix",
    "tests/monad/yield_test.fix",
    "tests/trait/monoid_test.fix",
]

[[dependencies]]
name = "minilib-common"
version = ">=0.10.0"
path = "../fixlang-minilib-common"
# git = { url = "https://github.com/pt9999/fixlang-minilib-common.git" }
